<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbyOWIgLJ9tdssFAseyUc11tzVsUkcbuY</string>
	<key>GCM_SENDER_ID</key>
	<string>502601666521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devates</string>
	<key>PROJECT_ID</key>
	<string>devates-f549e</string>
	<key>STORAGE_BUCKET</key>
	<string>devates-f549e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502601666521:ios:e185021dcfcb8fa5d7d3c8</string>
</dict>
</plist>